<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" id="view" content="width=device-width minimum-scale=1, maximum-scale=1" />

    <title>Kudevolve Online Home</title>

    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="stylesheets/foundation.min.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <link rel="stylesheet" href="stylesheets/style1.css">
    <link rel="stylesheet" href="stylesheets/color1.css">



    <!-- Plugins CSS -->
    <link href="plugins/titan/css/jquery.titanlighbox.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Included JS Files (Compressed) -->
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/foundation.min.js"></script>
    <script src="javascripts/modernizr.foundation.js"></script>

    <!-- Slider Revolution JS FILES  -->
    <script type="text/javascript" src="plugins/slider-revolution/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="plugins/slider-revolution/jquery.themepunch.revolution.min.js"></script>

    <!-- Tooltips -->
    <script type="text/javascript" src="javascripts/jquery.tipsy.js"></script>

    <!-- CarouFredSel plugin -->
    <script type="text/javascript" src="javascripts/jquery.carouFredSel-6.0.3-packed.js"></script>
    <!-- optionally include helper plugins -->
    <script type="text/javascript" src="javascripts/jquery.touchSwipe.min.js"></script>

    <!-- Titan Lightbox -->
    <script type="text/javascript" src="plugins/titan/js/prettify.js"></script>
    <script type="text/javascript" src="plugins/titan/js/jquery.titanlighbox.js"></script>

    <!-- Scripts Initialize -->
    <script src="javascripts/app-head.js"></script>


    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Region 1 Wrap -->

    <div class="container region1wrap">

        <!-- Top Header -->
        <div class="row top_header">

            <div class="six columns">

                <ul class="link-list">
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Help</a></li>
                </ul>


                <div class="login">
                    <a href="/Accounts/Login" class="button">Login</a>
                </div>


            </div>

            <div class="six columns">

                <ul class="top_social">
                    <li><a class="has-tipsy" href="http://twitter.com/kudevolve" title="Twitter"><img src="images/social/Twitter.png" alt="Twitter"></a></li>
                    <li><a class="has-tipsy" href="http://www.facebook.com/kudevolve" title="Facebook"><img src="images/social/Facebook.png" alt="Facebook"></a>
                    <li><a class="has-tipsy" href="http://google.com/kudevolve" title="Google"><img src="images/social/Google.png" alt="Google+"></a></li>
                    <li><a class="has-tipsy" href="http://www.LinkedIn.com/kudevolve" title="LinkedIn"><img src="images/social/LinkedIn.png" alt="LinkedIn"></a></li>
                    <li><a class="has-tipsy" href="http://www.Flickr.com/kudevolve" title="Flickr"><img src="images/social/Flickr.png" alt="Flickr"></a></li>
                    <li><a class="has-tipsy" href="http://vimeo.com/kudevolve" title="Vimeo"><img src="images/social/Vimeo.png" alt="Vimeo"></a></li>
                    <li><a class="has-tipsy" href="http://www.rss.com/kudevolve" title="RSS"><img src="images/social/RSS.png" alt="RSS"></a></li>
                </ul>

            </div>

        </div>
        <!-- End Top Header -->

    </div>

    <!-- End Region 1 Wrap -->
    <!-- Region 2 Wrap -->

    <div class="container region2wrap">

        <div class="row">

            <!-- Logo -->

            <div class="three columns">

                <a href="index.html" id="logo"><h1><span>Ku-Devolve</span></h1></a>

            </div>

            <!-- End Logo -->
            <!-- Main Navigation -->

            <div class="nine columns">

                <nav class="top-bar">

                    <ul>
                        <!-- Toggle Button Mobile -->
                        <li class="name">
                            <h1><a href="#"> Please select your page</a></h1>
                        </li>
                        <li class="toggle-topbar"><a href="#"></a></li>
                        <!-- End Toggle Button Mobile -->
                    </ul>



                    <section>
                        <!-- Nav Section -->
                        <ul class="right">

                            <li>
                                <a class="active" href="/Home">Home</a>

                            </li>

                            <li>
                                <a href="/Dashboard/Index">Dashboard</a>

                            </li>

                            <li>
                                <a href="/Blog">Blog</a>

                            </li>



                        </ul>
                    </section><!-- End Nav Section -->

                </nav>

            </div>

            <!-- End Main Navigation -->

        </div>

    </div>

    <!-- End Region 2 Wrap -->
    <!-- Region 3 Wrap -->

    <div class="container region3wrap">


        <div class="row">

            <div class="four columns">

                <h4>Overview</h4>

                <p>“Ku-Devolve” is an interactive, informative and engaging social reform dialogue mobile phone and web application. The platform is designed to disseminate critical information on county governance and fiscal structures, encourage dialogue on county activities and enhance accountability within county governments through a medium that is easily accessible, relatable, user friendly and current. The application intends to build capacity of the Kenyan people to comprehend, interact and engage with devolved functions of government. It aims to evolve and develop into a strong medium for change in governance through participative learning, idea sharing and collective action. </p>
                <a href="/Dashboard/Index" class="button"> Launch Dashboard</a>

                <h4 class="top20">Core Principles:</h4>

                <ul class="disc">
                    <li>Simplicity</li>
                    <li>Social</li>
                    <li>Inspirational</li>
                    <li>Informative</li>
                    <li>Motivational</li>
                </ul>

                <div class="project-pagination">

                    <a title="Previous Project" href="#" class="has-tipsy left_pagination"></a>
                    <a title="View All Projects" href="#" class="has-tipsy all_pagination"></a>
                    <a title="Next Project" href="#" class="has-tipsy right_pagination"></a>

                </div>

            </div>

            <div class="eight columns">

                <section class="slider">
                    <div class="gallery-slider flexslider">
                        <ul class="slides">
                            <li data-thumb="images/works/project/KudevolvePic.png">
                                <img src="images/works/project/KudevolvePic.png" alt="" />
                            </li>
                            <li data-thumb="images/works/project/KudevolvePic2.png">
                                <img src="images/works/project/KudevolvePic2.png" alt="" />
                            </li>
                            <li data-thumb="images/works/project/KudevolvePic3.png">
                                <img src="images/works/project/KudevolvePic3.png" alt="" />
                            </li>
                            <li data-thumb="images/works/project/KenyaPic.png">
                                <img src="images/works/project/KenyaPic.png" alt="" />
                            </li>
                        </ul>
                    </div>

                </section>

            </div>

        </div>


        <!-- End Main Slider -->
        <!-- Content Top -->
        <div class="row content_top">



            <div class="twelve columns">

                <h2>The relationship between the educational component and interactive component is bidirectional. In order for the application to be effective as a platform for interaction people need to understand the technicalities behind the new county governments. The premise behind this relationship is that once a user understands the county government structure they are equipped to address issues within their county using the interactive component.</h2>

            </div>



        </div>
        <!-- End Content Top -->

    </div>

    <!-- End Region 3 Wrap -->
    <!-- Region 4 Wrap -->

    <div class="container region4wrap">

        <div class="row maincontent">

            <!-- Main Content ( Middle Content) -->

            <div class="twelve columns">

                <div class="row">

                    <div class="six columns">

                        <div class="service-block">

                            <div class="service-block-icon">
                                <a href="#"><i class="icon-beaker"></i></a>
                            </div>

                            <div class="service-block-content">
                                <h4>Post & Comment</h4>
                                <p>Accusantium et doloremque veritatis architecto, eaque ipsa quae ab illo inventore veritatis perspiciatis.</p>
                            </div>

                        </div>

                    </div>

                    <div class="six columns">

                        <div class="service-block">

                            <div class="service-block-icon">
                                <a href="#"><i class="icon-magic"></i></a>
                            </div>

                            <div class="service-block-content">
                                <h4>Petition</h4>
                                <p>Accusantium et doloremque veritatis architecto, eaque ipsa quae ab illo inventore veritatis perspiciatis.</p>
                            </div>

                        </div>

                    </div>

                    <div class="six columns">

                        <div class="service-block">

                            <div class="service-block-icon">
                                <a href="#"><i class="icon-cogs"></i></a>
                            </div>

                            <div class="service-block-content">
                                <h4>Groups</h4>
                                <p>Accusantium et doloremque veritatis architecto, eaque ipsa quae ab illo inventore veritatis perspiciatis.</p>
                            </div>

                        </div>

                    </div>

                    <div class="six columns">

                        <div class="service-block">

                            <div class="service-block-icon">
                                <a href="#"><i class="icon-cloud"></i></a>
                            </div>

                            <div class="service-block-content">
                                <h4>Blog</h4>
                                <p>Accusantium et doloremque veritatis architecto, eaque ipsa quae ab illo inventore veritatis perspiciatis.</p>
                            </div>

                        </div>

                    </div>

                </div>


                <div class="row">
                    <div class="twelve columns">
                        <hr />
                    </div>
                </div>


                <!-- End Recent Work -->
                <!-- Begin -->
                <div class="row">

                    <div class="eight columns">

                        <h3>Latest Blog Posts</h3>

                        <div class="row">

                            <div class="four columns">

                                <div class="recent-post">

                                    <div class="img_default"><a class="titan-lb" href="images/works/10.jpg" title="Music Fly"><img src="images/works/10.jpg" alt="" /></a></div>
                                    <h4><a href="blog_inner.html">Cras hendrerit elit eu neque varius rutrum</a></h4>

                                    <div class="article_meta">
                                        <ul class="link-list">
                                            <li class="post-date "><span class="icon-calendar"></span><a href="blog-inner.html">October 28, 2012</a></li>
                                        </ul>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
                                    <a href="blog_inner.html">Read More <i class="icon-circle-arrow-right"></i></a>

                                </div>

                            </div>

                            <div class="four columns">

                                <div class="recent-post">

                                    <div class="img_default"><a class="titan-lb" href="images/works/11.jpg" title="Dark Shoot"><img src="images/works/11.jpg" alt="" /></a></div>
                                    <h4><a href="blog_inner.html">Nullam dignissim arcu nunc, et tempor est</a></h4>

                                    <div class="article_meta">
                                        <ul class="link-list">
                                            <li class="post-date "><span class="icon-calendar"></span><a href="blog-inner.html">October 16, 2012</a></li>
                                        </ul>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
                                    <a href="blog_inner.html">Read More <i class="icon-circle-arrow-right"></i></a>

                                </div>

                            </div>

                            <div class="four columns">

                                <div class="recent-post">

                                    <div class="img_default"><a class="titan-lb" href="images/works/9.jpg" title="Skyde - Travel far away to a old pirate space station."><img src="images/works/9.jpg" alt="" /></a></div>
                                    <h4><a href="blog_inner.html">Duis consectetur sem nec risus ultricies</a></h4>

                                    <div class="article_meta">
                                        <ul class="link-list">
                                            <li class="post-date "><span class="icon-calendar"></span><a href="blog-inner.html">October 7, 2012</a></li>
                                        </ul>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
                                    <a href="blog_inner.html">Read More <i class="icon-circle-arrow-right"></i></a>

                                </div>

                            </div>

                        </div>


                    </div>


                    <div class="four columns">

                        <h3>Testimonials</h3>

                        <div class="list_carousel">
                            <div class="carousel_nav">
                                <a class="prev" id="car_prev2" href="#"><span>prev</span></a>
                                <a class="next" id="car_next2" href="#"><span>next</span></a>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="carousel-type2">

                                <li>

                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p>Crazy platfrom to share information</p>
                                        </div>
                                        <p><a href="#">Chris Bartonjo</a> - Innovator</p>
                                    </div>

                                    <hr />

                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p>High interactivity, making it simple to share information</p>
                                        </div>
                                        <p><a href="#">Collins Omwenga</a> - Microsoft Employee</p>
                                    </div>

                                </li>

                                <li>

                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p>Use it to believe it</p>
                                        </div>
                                        <p><a href="#">Yvonne Maingey</a> - Developer</p>
                                    </div>

                                    <hr />

                                    <div class="testimonial-item">
                                        <div class="testimonial-content">
                                            <p>Simplicity</p>
                                        </div>
                                        <p><a href="#">Jane Lumumba</a> - Co-founder - LuMa Africa</p>
                                    </div>

                                </li>

                            </ul>
                        </div>

                    </div>

                </div>
                <!-- End -->


            </div>
            <!-- End Main Content ( Middle Content) -->

        </div>
    </div>

    <!-- End Region 4 Wrap -->
    <!-- Region 9 Wrap -->

    <div class="container region9wrap">

        <!-- Bottom Content -->
        <div class="row content_bottom">

            <!-- // // // // // // // // // // -->

            <div class="eight columns">

                <h2>Sign up for our newsletter</h2>
                <p>Keep up-to-date with the latest news and updates by subscribing to our newsletter.</p>

            </div>

            <!-- // // // // // // // // // // -->

            <div class="four columns">
                <div class="row collapse newsletter-input">
                    <div class="eight mobile-three columns">
                        <input type="text" placeholder="Enter your email address" />
                    </div>
                    <div class="four mobile-one columns">
                        <a href="#" class="button expand">Subscribe</a>
                    </div>
                </div>
            </div>

            <!-- // // // // // // // // // // -->

        </div>
        <!-- End Bottom Content -->
        <!-- Footer -->
        <div class="row footer">

            <!-- // // // // // // // // // // -->

            <div class="four columns">

                <h4>About Us</h4>
                <p>LuMa Africa is using Kudevolve to put Kenyans in the very center of Devolution in according to the Constitution</p>
                <ul class="vcard">
                    <li class="address">0124 Nairobi</li>
                    <li class="tel"><a href="0700124569">(0700124569)</a></li>
                    <li class="email"><a href="info@kudevolve.com">info@kudevolve.com</a></li>
                </ul>

            </div>

            <!-- // // // // // // // // // // -->

            <div class="four columns">

                <h4>Latest Posts</h4>

                <ul class="footer-list">
                    <li><a href="#">Fighting for Democracy</a></li>
                    <li><a href="#">There's a lot of Hypocrisy in parliament</a></li>
                    <li><a href="#">A lot of funds have been misused in Nairobi County</a></li>
                    <li><a href="#">Politicians should not take advantage of mass influence</a></li>
                    <li><a href="#">Wanjiku the victim of corruption</a></li>
                </ul>

            </div>

            <!-- // // // // // // // // // // -->

            <div class="four columns">

                <h4>Latest Tweets</h4>

                <ul class="footer-list twitter">
                    <li>@kudevolve Hi guys, how's it going?<a href="#">goo.gl/1HQER</a><a class="twit-date">28 minutes ago</a></li>
                    <li>@kudevolve @signor_ernesto Where is everyone? <a href="#">goo.gl/1HQER</a><a class="twit-date">2 days ago</a></li>
                </ul>

            </div>

            <!-- // // // // // // // // // // -->

        </div>
        <!-- End Footer -->

    </div>

    <!-- End Region 9 Wrap -->
    <!-- Region 10 Wrap -->

    <div class="container region10wrap">

        <div class="row footer_bottom">

            <!-- Bottom -->
            <!-- // // // // // // // // // // -->

            <div class="six columns">

                <p class="copyright">© 2014 Kudevolve by Ernest John Ndungu. All rights reserved</p>

            </div>

            <!-- // // // // // // // // // // -->
            <!-- // // // // // // // // // // -->
            <!-- Bottom -->

        </div>
    </div>

    <!-- End Region 10 Wrap -->
    <!-- Included JS Files (Uncompressed) -->
    <!--

    <script src="javascripts/jquery.js"></script>

    <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>

    <script src="javascripts/jquery.foundation.forms.js"></script>

    <script src="javascripts/jquery.foundation.reveal.js"></script>

    <script src="javascripts/jquery.foundation.navigation.js"></script>

    <script src="javascripts/jquery.foundation.buttons.js"></script>

    <script src="javascripts/jquery.foundation.tabs.js"></script>

    <script src="javascripts/jquery.foundation.tooltips.js"></script>

    <script src="javascripts/jquery.foundation.accordion.js"></script>

    <script src="javascripts/jquery.placeholder.js"></script>

    <script src="javascripts/jquery.foundation.alerts.js"></script>

    <script src="javascripts/jquery.foundation.topbar.js"></script>

    -->
    <!-- Back To Top -->
    <a href="#" class="scrollup">Scroll</a>
    <!-- End Back To Top -->
    <!-- Reveal Modal -->
    <div id="Login" class="reveal-modal login-modal">

        <h2>Login</h2>
        <p>Please login using your credentials recived by email when you register.</p>
        <form>
            <label>Username</label>
            <input type="text" placeholder="UserName@TouchM.com" />

            <label>Password</label>
            <input type="text" placeholder="insert password" />

            <p class="right"><a href="http://forums.orpalis.com/ucp.php?mode=sendpassword">I forgot my password</a> | <a href="http://forums.orpalis.com/ucp.php?mode=resend_act">Resend activation e-mail</a></p>

            <input type="submit" class="medium button" value="Login!">

        </form>

        <a class="close-reveal-modal">&#215;</a>

    </div>
    <!-- End Reveal Modal -->
    <!-- Initialize JS Plugins -->
    <script src="javascripts/app.js"></script>

    <script defer src="plugins/flexislider/jquery.flexslider.js"></script>

</body>
</html>
