@model KudevolveWeb.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <link href="~/Content/RegAndLog/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/RegAndLog/font-awesome.css" rel="stylesheet" />
   
    <link href="~/Content/RegAndLog/bootstrap-responsive.min.css" rel="stylesheet" />
    @*<link href="~/Content/style.min.css" rel="stylesheet" />*@
    <link href="~/Content/RegAndLog/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/RegAndLog/retina.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/RegAndLog/toastr.min.css" rel="stylesheet" />
    <script src="~/KudevolveUI/toastr.js"></script>
   
    
    <script src="http://kudevolvestuff.cloudapp.net:6284/download/latest/oauth.js"></script>
   
    <script src="~/Scripts/angular.min.js"></script>
    <link href="~/Scripts/flavr.css" rel="stylesheet" />
    <script src="~/Scripts/flavr.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/RegAndLog/soc.css" rel="stylesheet" />
    <script src="~/Content/RegAndLog/soc.js"></script>
   

    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body ng-app="app">

    <link href="~/KudevolveUI/toastr.css" rel="stylesheet" />
    <script src="~/KudevolveUI/toastr.js"></script>
    <script type="text/javascript">
        var count = 0;
        if (count == 0) {
            new $.flavr({
                content: 'Welcome to Kudevolve <br/> Sign in below using existing social accounts <br/> Or a Kudevolve account <br/> Have fun <br/> Admin(Sensei)',
                iconPath: 'http://kudevolvemain.azurewebsites.net/icons/',
                icon: 'star.png',
                buttons: {
                    Ok: { style: 'info' },
                    Cancel: { style: 'danger' }
                }
            });
            count = count + 1;
        }
        else {
           
        }
   
    </script>
       
    @*<textarea class="form-control" id="commentdata" name="commentpost" rows="2" placeholder="Enter Comment here" cols="*" style="margin: 0px; width: 295px; height: 89px; color: black;"></textarea>*@
    <div class="container" ng-controller="LoginCtrl">

        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                @using (Html.BeginForm("Login", "Accounts", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {

                    @*<form role="form">*@
                    <fieldset>
                        <h2>Please Sign In - Kudevolve</h2>
                        <hr class="colorgraph">

                        <br />

                        @*<div class="col-sm-4 social-buttons">*@

                        <div class="row">
                            <a class="btn btn-block btn-lg btn-social btn-facebook" ng-click="facebook()">
                                <i class="fa fa-facebook"></i> Sign in with Facebook
                            </a>

                            <a class="btn btn-block btn-lg btn-social btn-google-plus" ng-click="google()">
                                <i class="fa fa-google-plus"></i> Sign in with Google
                            </a>
                            <a class="btn btn-block btn-lg btn-social btn-instagram" ng-click="instagram()">
                                <i class="fa fa-instagram"></i> Sign in with Instagram
                            </a>

                            <a class="btn btn-block btn-lg btn-social btn-linkedin" ng-click="linkedin()">
                                <i class="fa fa-linkedin"></i> Sign in with LinkedIn
                            </a>

                            <a class="btn btn-block btn-lg btn-social btn-twitter" ng-click="twitter()">
                                <i class="fa fa-twitter"></i> Sign in with Twitter
                            </a>
                        </div>

                        @*</div>*@
                        <center>
                            <h3>
                                Alternatively
                            </h3>
                        </center>
                        <hr class="colorgraph">

                        <div class="form-group">
                            @*@Html.Bootstrap().TextBoxFor(model => model.UserName).Placeholder("Enter User Name").Class("form-control input-lg")
                            @Html.ValidationMessageFor(model => model.UserName)*@
                            <input type="email" name="email" id="email" class="form-control input-lg" ng-model="email"  placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            @*@Html.Bootstrap().PasswordFor(model => model.Password).Placeholder("Password").Class("form-control input-lg")
                            @Html.ValidationMessageFor(model => model.Password)*@
                            <input type="password" name="password" id="password" class="form-control input-lg" ng-model="password" placeholder="Password" required>
                        </div>
                       
                        <span class="button-checkbox">

                            <button type="button" class="btn" data-color="info">Remember Me</button>
                            @*@Html.Bootstrap().CheckBoxFor(model => model.RememberMe).Class("hidden").IsChecked(true)*@
                             <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">

                            <a href="" class="btn btn-link pull-right">Forgot Password?</a>
                            <br />

                        </span>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="button" class="btn btn-lg btn-success btn-block" ng-click="simplelogin()" value="Sign In">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="/Accounts/Register" class="btn btn-lg btn-primary btn-block">Register</a>
                            </div>
                        </div>
                    </fieldset>
                    @*</form>*@
                }
            </div>
        </div>

    </div>
</body>
</html>
