
@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_LayoutKudevolve.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/flavr.css" rel="stylesheet" />
<script src="~/Scripts/flavr.js"></script>

<link href="~/Content/comments.css" rel="stylesheet" />
<link href="~/KudevolveUI/toastr.css" rel="stylesheet" />
<script src="~/KudevolveUI/toastr.js"></script>
<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/share.min.js"></script>

<script type="text/javascript">
    var count = 0;
    if (count == 0) {
        new $.flavr({
            content: 'Welcome to Kudevolve <br/> Sign in below using existing social accounts <br/> Or a Kudevolve account <br/> Have fun <br/> Admin(Sensei)',
            iconPath: 'http://kudevolvelive.azurewebsites.net/icons/',
            icon: 'star.png',
            buttons: {
                Ok: { style: 'info' },
                Cancel: { style: 'danger' }
            }
        });
        count = count + 1;
    }
    else {

    }
</script>

<div ng-app="app">
    <div ng-controller="FriendsCtrl">
        @* <script src="~/Scripts/KudevolveSignalr.js"></script>*@



        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">

                <div ng-repeat="friend in friends">
                    <div class="col-lg-4">
                        <div class="contact-box">
                            <a href="profile.html">
                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="~/KudevolveUI/img/a2.jpg">
                                        <div class="m-t-xs font-bold">{{friend.County}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3><strong>{{friend.FirstName}}  {{friend.SecondName}}</strong></h3>
                                    <p><i class="fa fa-map-marker"></i>{{friend.UserName}}</p>
                                    <address>
                                        <strong>BIO</strong><br>
                                                {{friend.BIO}}<br/>
                                        <input type="button" class="btn btn-sm btn-primary" ng-click="addfriend(friend)" name="name" value="Add Friend" />
                                       
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                </div>

            

            </div>
            </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">

                <div ng-repeat="user in users">
                    <div class="col-lg-4">
                        <div class="contact-box">
                            <a href="profile.html">
                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="~/KudevolveUI/img/a2.jpg">
                                        <div class="m-t-xs font-bold">{{user.County}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3><strong>{{user.FirstName}}  {{user.SecondName}}</strong></h3>
                                    <p><i class="fa fa-map-marker"></i>{{user.UserName}}</p>
                                    <address>
                                        <strong>BIO</strong><br>
                                        {{user.BIO}}<br />
                                        <input type="button" class="btn btn-sm btn-primary" ng-click="addfriend(friend)" name="name" value="Add Friend" />

                                    </address>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        </div>
</div>