
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutKudevolve.cshtml";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/flavr.css" rel="stylesheet" />
<script src="~/Scripts/flavr.js"></script>

<link href="~/Content/comments.css" rel="stylesheet" />
<link href="~/KudevolveUI/toastr.css" rel="stylesheet" />
<script src="~/KudevolveUI/toastr.js"></script>
<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/share.min.js"></script>

<script type="text/javascript">
    var count = 0;
    if (count == 0) {
        new $.flavr({
            content: 'Welcome to Kudevolve <br/> Sign in below using existing social accounts <br/> Or a Kudevolve account <br/> Have fun <br/> Admin(Sensei)',
            iconPath: 'http://kudevolvemain.azurewebsites.net/icons/',
            icon: 'star.png',
            buttons: {
                Ok: { style: 'info' },
                Cancel: { style: 'danger' }
            }
        });
        count = count + 1;
    }
    else {

    }
</script>

<div ng-app="app">
    <div ng-controller="ProfileCtrl">
        @* <script src="~/Scripts/KudevolveSignalr.js"></script>*@
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="col-md-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Profile Detail</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="img/profile_big.jpg">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>Monica Smith</strong></h4>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <h5>
                                About me
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                            </p>
                            <div class="row m-t-lg">
                                <div class="col-md-4">
                                    <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                    <h5><strong>169</strong> Posts</h5>
                                </div>
                                <div class="col-md-4">
                                    <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                    <h5><strong>28</strong> Following</h5>
                                </div>
                                <div class="col-md-4">
                                    <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                    <h5><strong>240</strong> Followers</h5>
                                </div>
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>